body {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
#social-links {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    font-size: 24px;
    width: 60%;
}

#social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 0;
    color: rgb(0, 0, 0);
}

#social-container p {
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 10px;
}

/* Resposivity */

@media screen and ( max-width: 600px ) {
    #social-links { font-size: 20px; padding: 10px;}
    #social-container p { font-size: 12px; padding: 10px; }
} 
