body {
    background-color: black;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}


header h1 {
    text-align: center;
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    padding: 10px;
}

nav {
    text-align: center;
}

ul {
    display: flex;
    display: inline-block;
}

nav ul li {
    display: inline;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 25px 0;
    transition: text-shadow 0.2;
    justify-content: center;
}

nav ul li a:hover {
    text-shadow: 0 0 0px white;
    transform: translateY(5px);

}

nav ul li a:active {
    background-color: aliceblue;
}

/* Responsivity */

@media screen and (max-width: 600px) {
    .signature { font-size: 35px;}
    nav ul li a { font-size: 17px; padding: 0px 7px 0px; }
}


@media screen and (min-width: 900px) {
    .signature {font-size: 45px;}
    nav ul li a {font-size: 25px; padding: 10px;}
}